.gallery-article{
}

.gallery-article__picture{
    width: 280px;
    height: 180px;
}
@media @tablet-widths {
.gallery-article:first-child{
    width: 620px;
}
.gallery-article{
    outline: 1px solid black;
    width: 300px;
}
.gallery-article__picture:first-child{
    width: 700px;
    height: 509px;
}

}

@media @desktop-widths {
    .gallery-article:first-child{
        width: 1200px;
        height: 506px;

    }

}
