.page-header{
    .container();
    outline: 1px solid black;
    background-color: #10161b;

}
.logo--all-header {
  height:69px;
  outline: 1px solid black;
  background-color: red;
  margin-right: 0px;
}

@media @tablet-widths {

  .page-header {
    .container();
    min-height: 70px;

  }
}

@media @desktop-widths {
.page-header{

}
.logo--all-header{
    width: 150px;
    float: left;
}
}
