
.price{
background-color: #f2f2f2;   
    }
.price__item{
border: 1px solid black;
border-collapse: collapse;
}
td,
th{
border: 1px solid black;
width: 234px;
}
@media @tablet-widths {


}

@media @desktop-widths {


}
